{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true
    },
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "no-alert": 0,
    "no-console": 0,
    "no-new-symbol": 0,
    "no-self-assign": 0,
    "no-unused-vars": [2, {
        "argsIgnorePattern": "^(next)|(reject)",
        "varsIgnorePattern": "^(Logger)"
    }],
    "no-unused-labels": 0,
    "semi": 2
  }
}
